<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxx1l6kRMkacprYzXxHD-jzaFTrMevwlI</string>
	<key>GCM_SENDER_ID</key>
	<string>1076968160065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.coffeeshop</string>
	<key>PROJECT_ID</key>
	<string>cupcake-shop-oiy2u1</string>
	<key>STORAGE_BUCKET</key>
	<string>cupcake-shop-oiy2u1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076968160065:ios:0232e46c82a799ba203fc0</string>
</dict>
</plist>